
model2dll/model2dll/Debug/*
model2dll/model2dll/x64/*
model2dll/.vs/*
model2dll/ThirdParty/libtensorflow/*
TFInUnreal/.vs/*
TFInUnreal/Binaries/*
TFInUnreal/Intermediate/*
TFInUnreal/Saved/*

*.log
TFInUnreal/Source/ThirdParty/*
samplesGeneration/backup/*
model2dll/x64/*
model2dll/UnitTest1/x64/*
*.sc
*.npy
*.png
.idea/*
.ipynb_checkpoints/*
*.bd
*.bd-journal
*.h5
*.p
venv/*
samplesGeneration/logs/*
model/*
model/improved_model/keras_metadata.pb
*.log